header {
    background-color: #FFE4C4;
    font-family: Verdana;
    text-align: center;
    box-shadow: 2vw 2vw 2vw black;
}

body {
    background-color: #FFA4AD;
    margin: 5% 5%; 
    font-size: 3vw; 
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: black;
    padding: 3vw 0; 
    text-align: center;
    font-size: 1vw; 
}

ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 1.5vw; 
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; 
}

ul#menu li {
    background-color: #f5dcbf;
    border-bottom: 0.5vw solid #c7732e; 
    display: block;
    width: 15vw; 
    height: 2.5vw; 
    margin: 0.25vw; 
    float: right; 
}

ul#menu li a {
    color: black;
    display: block;
    font-weight: bold;
    line-height: 4vw; 
    text-decoration: none;
    width: 15vw;
    height: 5vw;
    text-align: center;
}

ul#menu li.active, ul#menu li:hover {
    background-color: #F9F7D2;
    border-bottom: 0.5vw solid #f5dcbf;
}

#logo {
    position: absolute;
    top: 2.5vw; 
    left: 2.5vw; 
    box-shadow: 2vw 2vw 2vw black; 
}

.flex {
    max-width: 33%; 
}

h3 {
    margin: 0;
    background-color: burlywood;
    font-size: 1.4em; 
    font-weight: normal;
    line-height: auto;
    text-align: center;
    width: auto;
    height: auto;
}

.links {
    color: black;
    font-family: Verdana, italic; 
}

content {
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5vw 1vw; 
    border-radius: 1vw; 
    font-family: Verdana;
    text-align: center;
}

.recapiti {
    box-shadow: 2vw 2vw 2vw black;
    background-color: white;
    text-align: center;
}
