header{
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-top: none;
    background-color: bisque;
    margin-top: 0px;
    text-align: right;
}
.distanziatore p{
    margin-top: 0px;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.distanziatore{
    background-color: white;
    margin-top: 200px;
    margin-bottom: 0px;
}
footer{
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    text-align: left;
    font-size: 12px;
    
}
#logo{
    margin-bottom: 10px;
    margin-right: 740px;
    text-align: left;
    width: 80px;
    height: auto;
}
div#supremo{
    background-image: url(immagini/sfondoGelato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#testoFooter p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 900px;
    font-weight: bold;
}
.header{
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    align-items: center;
}
.contenitore{
    display: flex;
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 100px;
    margin-top: 0px;
}
h2{
    color: bisque;
    text-align: left;
    margin-left: 100px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
}
body{
    border-bottom: none;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.link{
    display: flexbox;
    margin-right: 150px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: double;
    font-weight: 600;
    color:black;
    text-align: right;
}
#ultimolink{
    display: flexbox;
    margin-right:30px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: double;
    font-weight: 600;
    color:black;
}
#immagine{
    margin-left: 50px;
    margin-top: 100px;
    width: 600px;
    height: auto;
}
#logoCentrale{
    width: 350px;
    height: auto;
}
#carrello{
    width: 160px;
    height: auto;
}
#shop{
    margin-bottom: 30px;
    background-color: #fa8493;
}
.socials{
    width: 40px;
    height: auto;
}
