header{
	color:red;
	font-family: arial;
	font-size: 35px;
	text-align:center;
	word-spacing:40px;
}
body{
	background-color:#F7EC59;
	font-family: arial;
	color: #004463;
}	
#index_text{
	font-size: 45px;
	text-align: right;
	margin-right:200px;
}
#logo{
	width:20%;
	height:auto;
}

#index_gelato{

	margin-left:50px;
	margin-top:75px;
}

#footer_logo{
	width:10%;
	height:auto;
	float:left;
	margin-left:375px;
	margin-right:50px;
}


#text{
	font-family: arial;
	color: #004463;
	margin-left:200px;
	margin-top:50px;
	font-size:30px;
}

#logo_header{
	width:20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
div.storia {
  width:100%;
  overflow:auto;
}
div.storia div {
  width:33%;  
  float:left;
  margin-left:100px;
  margin-top:50px;
}
div.index{
	width:100%;
	overflow:auto;
}
div.index div{
	float:left;
	margin-left:100px;
  margin-top:100px;
  margin-bottom:100px;
}
img.gel{
	width:82%;
	height:auto;
}
div.contatti{
	width:100%;
  overflow:auto;
}

div.contatti div{
	width:33%;  
  float:left;
  margin-left:100px;
  margin-top:50px;
}

img.map {
	width:150%;
	height:auto;
}
#text_2{
	font-family: arial;
	color: #004463;
	margin-top:50px;
	font-size:30px;
}

#griglia {
padding: 0;
margin: 0;
}
#img_gusto{
	width:150px;
	height:150px;
	overflow:hidden;
	padding:25px;
	margin-right:60px;
}
#txtgusto{
	font-family: arial;
	color: #004463;
	font-size:30px;
	margin-left:30px;
}

div.foot{
	width:100%;
	overflow:auto;
}
div.foot div { 

  float:left;
  font-family: arial;
color: #004463;

font-size:20px;
}

#txt{
	font-family: arial;
	color: #004463;
	font-size:30px;
}

#center{
	float:center;
}
#img_paga{
	width:25%;
	height:auto;
}